<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682471459218-6471hpfssjioah8do8maqd0fo17hmles.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682471459218-6471hpfssjioah8do8maqd0fo17hmles</string>
	<key>API_KEY</key>
	<string>AIzaSyCC_WDapJeA6Mo9nOWwWsS-QBWj9Cnv1fY</string>
	<key>GCM_SENDER_ID</key>
	<string>682471459218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techtuni.tuni</string>
	<key>PROJECT_ID</key>
	<string>tuni-c0211</string>
	<key>STORAGE_BUCKET</key>
	<string>tuni-c0211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682471459218:ios:e28735d4de55b23602994b</string>
	<key>DATABASE_URL</key>
	<string>https://tuni-c0211-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>